body { 
    font-family: Arial; 
    background: #f4f4f4; 
    margin: 0; 
}

header { 
    background: #0366d6; 
    color: white; 
    padding: 15px; 
    text-align: center; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header button {
    background: red;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

nav { 
    background: #024c9c; 
    padding: 10px; 
    display: flex; 
    gap: 20px; 
}

nav a { 
    color: white; 
    text-decoration: none; 
    font-weight: bold; 
    cursor: pointer; 
}

.container { 
    padding: 20px; 
}

form { 
    background: white; 
    padding: 15px; 
    border-radius: 5px; 
    max-width: 600px; 
    box-shadow: 0 0 10px #0002; 
    margin-bottom: 30px; 
}

input, select { 
    width: 100%; 
    padding: 8px; 
    margin: 8px 0; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

button { 
    width: 100%; 
    padding: 10px; 
    background: #0366d6; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
}

.section { display: none; }
.active { display: block; }

#resultado_holerite,
#resultado_rescisao,
#dadosFuncionario { 
    background: #fff; 
    padding: 12px; 
    border-radius: 5px; 
    box-shadow: 0 0 10px #0002; 
    max-width: 600px; 
}
